Supposedly single children are learn language easier than children that have siblings. 
This may be caused by undivided parents' attention.

In [1]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'single': [8, 7, 10, 6, 9],
    'twin': [4, 6, 7, 4, 9],
    'triplet': [4, 4, 7, 2, 3]
}, columns=['single', 'twin', 'triplet'])
data

   single  twin  triplet
0       8     4        4
1       7     6        4
2      10     7        7
3       6     4        2
4       9     9        3

In [2]:
means = data.mean()
means['grand'] = data.values.mean()
means

single     8.0
twin       6.0
triplet    4.0
grand      6.0
dtype: float64

In [3]:
squared = data.count() * (means - means['grand']) ** 2
squared = squared['single':'triplet']
squared
ss_between = squared.sum()
ss_between

40.0

In [4]:
ss_within = ((data - data.mean()) ** 2).sum().sum()
ss_within

42.0

In [5]:
df_between = len(data.columns) - 1
df_within = data.count().sum() - len(data.columns)
df_between, df_within

(2, 12)

In [6]:
ms_between = ss_between / df_between
ms_within = ss_within / df_within

ms_between, ms_within

(20.0, 3.5)

In [7]:
f = ms_between / ms_within
f

5.7142857142857144

In [8]:
# F critical value at alpha = .05
f_crit = 3.8853

In [9]:
# statistical decision: reject null?
f > f_crit

True