To improve lives of dairy cows researchers examined 3 types of food. They wanted to assess cows performance for one food over another.

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
a = pd.Series({'Bessie': 2, 'Frank': 4, 'Slim': 3}, name='A')
b = pd.Series({'Bob': 6, 'Red': 5, 'Pippin': 7}, name='B')
c = pd.Series({'Sam': 8,  'Merrry': 9, 'Chip': 10}, name='C')

a, b, c

(Bessie    2
 Frank     4
 Slim      3
 Name: A, dtype: int64, Bob       6
 Pippin    7
 Red       5
 Name: B, dtype: int64, Chip      10
 Merrry     9
 Sam        8
 Name: C, dtype: int64)

In [3]:
dfs = []
for ser in (a, b, c):
    print(ser)
    dfs.append(pd.DataFrame({
        'name': ser.index,
        'f-eaten': ser.values,
        'f-type': [ser.name] * ser.count()
    }))
    
dfs
# pd.DataFrame(columns=['name', 'f-type', 'f-eaten'])

Bessie    2
Frank     4
Slim      3
Name: A, dtype: int64
Bob       6
Pippin    7
Red       5
Name: B, dtype: int64
Chip      10
Merrry     9
Sam        8
Name: C, dtype: int64

[   f-eaten f-type    name
 0        2      A  Bessie
 1        4      A   Frank
 2        3      A    Slim,    f-eaten f-type    name
 0        6      B     Bob
 1        7      B  Pippin
 2        5      B     Red,    f-eaten f-type    name
 0       10      C    Chip
 1        9      C  Merrry
 2        8      C     Sam]

In [4]:
data = pd.concat(dfs, ignore_index=True)
data

   f-eaten f-type    name
0        2      A  Bessie
1        4      A   Frank
2        3      A    Slim
3        6      B     Bob
4        7      B  Pippin
5        5      B     Red
6       10      C    Chip
7        9      C  Merrry
8        8      C     Sam

In [5]:
# TODO bar graph

grand_mean = data['f-eaten'].mean()
grand_mean

6.0

In [6]:
# means for each group
means = data.groupby('f-type').mean()
means

        f-eaten
f-type
A             3
B             6
C             9

In [7]:
ss_between = means.assign(
    dev= means.count() * (means - grand_mean) ** 2
)['dev'].sum()
ss_between

54.0