In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Ants that can count

In [7]:
df = pd.DataFrame.from_dict({
    'short': [-8, -11, -17, -9, -10, -5],
    'long': [12, 9, 16, 8, 15],
    'normal': [0.5, 0, -1, 1.5, .5, -0.1, 0]
}, orient='index').T
df

   short  long  normal
0   -8.0  12.0     0.5
1  -11.0   9.0     0.0
2  -17.0  16.0    -1.0
3   -9.0   8.0     1.5
4  -10.0  15.0     0.5
5   -5.0   NaN    -0.1
6    NaN   NaN     0.0

In [37]:
# children data
df_c = pd.DataFrame({
    'single': [8, 7, 10, 6, 9],
    'twin': [4, 6, 7, 4, 9],
    'triplet': [4, 4, 7, 2, 3]
})
# df = df_c  # comment this out later

In [38]:
grand_mean = np.nanmean(df.values)
grand_mean

6.0

In [39]:
ss_between = (df.count() * (df.mean() - grand_mean) ** 2).sum()
ss_between

40.0

In [40]:
ss_within = ((df - df.mean()) ** 2).sum().sum()
ss_within

42.0

In [41]:
df_between = len(df.columns) - 1
df_within = df.count().sum() - len(df.columns)

df_between, df_within

(2, 12)

In [42]:
ms_between = ss_between / df_between
ms_within = ss_within / df_within

ms_between, ms_within

(20.0, 3.5)

In [43]:
F = ms_between / ms_within
F

5.7142857142857144

In [44]:
eta_sq = ss_between / (ss_between + ss_within)
eta_sq

0.48780487804878048

# Children

In [45]:
# calculations can be triggered above by uncommenting

In [48]:
q = 3.77
tukey_hsd = q * np.sqrt(ms_within / 5)
tukey_hsd

3.1542083000334649