[t-table](https://s3.amazonaws.com/udacity-hosted-downloads/t-table.jpg)

# Cell phone law

Researchers are interested in the effects of a law penalizing talking on a cell phone while driving. The researchers randomly sampled 10 counties in a US state before and after the law was passed. They measured the total number of accidents due to cell phone use the year before and the year after the law. They hypothesized that the law would reduce the number of accidents to cell phone use.

It is a pre-test; post-test and dependent-samples t-test.

In [1]:
import numpy as np
import pandas as pd

index = pd.Series(range(1, 11), name='Counties')
pre = pd.Series([8, 7, 6, 9, 10, 5, 7, 11, 8, 7], name='pre', index=index)
post = pd.Series([5, 6, 4, 6, 5, 3, 2, 9, 4, 4], name='post', index=index)

data = pd.DataFrame([pre, post]).T
data['diff'] = data['post'] - data['pre']
data

          pre  post  diff
Counties
1           8     5    -3
2           7     6    -1
3           6     4    -2
4           9     6    -3
5          10     5    -5
6           5     3    -2
7           7     2    -5
8          11     9    -2
9           8     4    -4
10          7     4    -3

In [2]:
means = data.mean()
means

pre     7.8
post    4.8
diff   -3.0
dtype: float64

In [3]:
# from t-table,
df = 9
alfa = 0.05

t_crit = -1.833

In [4]:
# if the standard deviation of the differences is 1.33 compute standard error of the mean
s = 1.33

sem = s / np.sqrt(len(data))
sem

0.42058292880239445

In [5]:
# calculate t-statistic
t = means['diff'] / sem
t

-7.1329571281993518

Do we **reject** the null?

In [6]:
t < t_crit

True

In [7]:
# Cohen's d
c_d = (means['pre'] - means['post']) / (s)
c_d

2.255639097744361

In [8]:
# compute 95% interval for the mean difference 
# hint: means['diff'] = -3, s = 1.33
t_cr = 2.262

ci = (means['diff'] - t_cr * sem, means['diff'] + t_cr * sem)
ci

(-3.9513585849510164, -2.0486414150489836)