# t-Test, Part3

## Dependent samples
* two conditions - same person, two different conditions (eg. 2 types of treatment);
* longitudinal - measure variable in one point of time and then measure later and see if the variable changes;
* pre-test; post-test - what was the measure of variable before and afater the treatment?

Advantages:
* controls for individual differences
  * use fewer subjects
  * cost-effective
  * less time consuming
  * less expensive

Disadvantages
* carry-over effect (eg. we have some method of teaching math that you apply on your students; after the treatment students will have different skills and you won't be able to conduct test on the  same sample again) - second measurement can be affected by first treatment
* order may influence result (eg. test 2 types of pills. What if first pill has some interaction with  2nd pill?)

##  Independent samples

Advantages of dependent samples are independent samples' **disadventages**.

Disadvantages of dependent samples are independent samples' **advantages**.

* Experimental tests where we give treatment to the subject
* Observational

In [1]:
%%latex
Standard deviation
$$SD = \sqrt{s_1^2 + s_2^2}\\$$

Standard error
$$SE = \sqrt{\frac{s_1^2}{n_1} + \frac{s_2^2}{n_2}}\\$$

Degrees of freedom
$$df = (n_1 - 1) + (n_2 - 1) = n_1 + n_2 - 2\\$$

In [2]:
import pandas as pd
import numpy as np

prices_df = pd.read_csv('spreadsheets/food_prices.csv')
prices_df.columns = ['gettysburg', 'wilma']
prices_df

    gettysburg  wilma
0            9   11.0
1            5   10.0
2            6   12.0
3           11    9.0
4            8    8.0
5            5   13.0
6            7   14.0
7           13   15.0
8           12   12.0
9           13   11.0
10           9   13.0
11           8    8.0
12          10    9.0
13           6   11.0
14          11    NaN
15           9    NaN
16           7    NaN
17          12    NaN

In [3]:
getys_avg = prices_df['gettysburg'].mean()
getys_avg

8.9444444444444446

In [4]:
wilma_avg = prices_df['wilma'].mean()
wilma_avg

11.142857142857142

In [5]:
getys_std = prices_df['gettysburg'].std(ddof=1)
getys_std

2.6451336499586917

In [6]:
wilma_std = prices_df['wilma'].std(ddof=1)
wilma_std

2.1788191176076888

In [7]:
# calculate standard error
sem = np.sqrt(getys_std ** 2 / prices_df['gettysburg'].count() + 
             wilma_std ** 2 / prices_df['wilma'].count())
sem

0.85311008476772265

In [8]:
# calculate t-statistic both ways

t1 = (getys_avg - wilma_avg) / sem
t2 = (wilma_avg - getys_avg) / sem

t1, t2

(-2.5769390582356815, 2.5769390582356815)

In [9]:
# degrees of freedom
df = prices_df.count().sum() - 2
t_crit = 2.042  # read from t-table

df

30

In [10]:
reject_null = t2 > t_crit
reject_null

True